# Ignore central sound/song folder
recognizer/sounds_master/
recognizer/html/

# Ignore all audio files
*.mp3
*.wav

# Ignore all image files
*.png
*.jpg
*.gif

# Ignore Matlab databases
*.mat_songs
*.mat


node_modules/
